*.apk
*.ap_
*.dex
*.class
*.iml
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml